<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/liver.css') }}">
    <link rel="stylesheet" href="./css/liver.css" />
</head>
<body>
    <header>
        <div class="logo">
            <h1>Health</h1>
        </div>
        <nav class="home-nav">
            <ul>
               <li><a href="{{ url_for('hello_world') }}">Home</a></li>
                <li><a href="{{ url_for('cancer') }}">Breast Cancer</a></li>
                <li class="current"><a href="{{ url_for('liver') }}">Liver Diagnosis</a></li>
                <li><a href="{{ url_for('heart') }}">Heart Issues</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
        </nav>
    </header>
    <section>
        <div class="image">
            <img src="./static/twodoc.svg" >
        </div>
        <div class="form">
            <form>
                <div class="form-control">
                    <h4>Total Bilirubin</h4>
                    <input type="number" name="Total Bilirubin" placeholder=" eg: 0.9" required step="any">
                </div>
                <div class="form-control">
                    <h4>Direct Bilirubin</h4>
                    <input type="number" name="Direct Bilirubin" placeholder=" eg: 0.7" required step="any">
                </div>
                <div class="form-control">
                    <h4>Alkaline Phosphotase</h4>
                    <input type="number" name="Alkaline Phosphotase" placeholder= " eg: 187" required step="any">
                </div>
                <div class="form-control">
                    <h4>Alamine Aminotransferase</h4>
                    <input type="number" name="Alamine Aminotransferase" placeholder=" eg: 187 " required step="any">  
                </div>
                <div class="form-control">
                    <h4>Total Protiens</h4>
                    <input type="number" name="Total Protiens" placeholder=" eg: 6.9" required step="any">
                </div>
                <div class="form-control">
                    <h4>Albumin</h4>
                    <input type="number" name="Albumin" placeholder=" eg: 4.4" required step="any">
                </div>
                <div class="form-control">
                    <h4>Albumin and Globulin Ratio</h4>
                    <input type="number" name="Albumin and Globulin Ratio" placeholder=" eg: 1.3" required step="any">
                </div>
                <input type="submit" value="send" class="btn btn-primary">
            </form>
            </div>
    </section>
    
</body>
</html>